@font-face {
    font-family: Reckless;
    font-weight: bold;
    src: url("../fonts/Reckless.otf") format("opentype");
}

body {
	margin: 0;
	background-color: #4e7ee9 !important;
}

.title-text {
	width: 100%;
    top: 60%;

	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Source Sans Pro';
	color: floralwhite;
}

.title-text h1, .title-text h2 {
	color: floralwhite;
		text-shadow: #080808 1px 0px 25px;
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;

}

.title-text h1 {
	font-size: 6em;
}

.title-text h2 {
	font-size: 3.5em;
}

.title-text-bottom {
    top: 80%;
}

.title-text-bottom h1 {
    font-size: 6em;
}

.title-text-bottom h2 {
    font-size: 4.5em;
}

.blue_bg {
    background-color: #4e7ee9;
}

.interested_button {
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    font-size: 19px;
    color: #4e7ee9;
    background-color: ghostwhite;
}

.interested_button:hover {
    color: ghostwhite;
    background-color: #4e7ee9;
}

h3 {
	font-size: 20pt;
	font-family: 'Source Sans Pro';
	text-align: center;
}

p {
	color: #000033;
	font-size: 16px;
	font-family: 'Source Sans Pro';
}

p1 {
	color:#FFCC00;
	font-size:20pt;
	font-family: 'Source Sans Pro';
}

ozn {
	font-size: 32pt;
	font-family: 'Source Sans Pro';
	color: #FFCC00;
}

.zoznam {
    list-style-type: square;
}

.header {
	background-color: #4e7ee9;
	color: floralwhite;
	text-transform: uppercase;
	font-size: 20px;
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
}

.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}

.header .logo {
	margin-left: 30px;
	margin-top: auto;
	vertical-align: middle;
	display: inline-block;
	height: 60px;
}

.logo img,.logo .title {
	float: left;
}

.logo img {
	margin-top: 15px;
}

.logo .title {
	font-size: 28px;
	font-family: 'Source Sans Pro';
	margin-top: 10px;
}

.navigation {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	float:right;
	margin-top:20px;
}

.navigation .inf {
	margin-right: 15px
}

.navigation .co {
	margin-right: 15px
}

.navigation .kontakty {
	margin-right: 15px
}

.navigation .inf, .navigation .co, .navigation .kontakty {
	display: inline-block;

}

.prihlasenie {
	float: right;
	display: inline-block;
	margin-right: 30px;
	margin-top: 12px;
}

.centerTable {
	margin: 0px auto;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	color: ghostwhite;
}

.nadpis {
	width: 100%;
	font-size: 4em;
	font-family: 'Reckless';
	text-transform: uppercase;
	color: floralwhite;
	text-align: center;
	padding: 20px;
	font-weight: lighter;
	padding-top: 5%;
}

th {
	font-family: 'Reckless';
	width: 25%;
	height: 75px;
	vertical-align: middle;
	font-size: 2.5em;
}

td {
	color: #c3f5ff;
	vertical-align: middle;
}

.text{
	width:90%;
	color: #b6f4ff;
	font-family: 'Source Sans Pro';
	text-align: justify;
	font-size: 20px;
	padding-left: 10%;
	padding-bottom: 5%;
}

.centerText{
    text-align: center;
}

.navigation a:link {
	color: floralwhite;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.navigation a:visited {
	color: floralwhite;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.navigation a:active {
	color: #b9fcff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.navigation a:hover {
	color: #b9fcff;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.centerTable a:link {
	color: floralwhite;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.centerTable a:visited {
	color: floralwhite;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.centerTable a:active {
	color: #b9fcff;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.centerTable a:hover {
	color: #b9fcff;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	text-decoration:none;
}

.text a:link {
    color: floralwhite;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    text-decoration:none;
}

.text a:visited {
    color: floralwhite;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    text-decoration:none;
}

.text a:active {
    color: #b9fcff;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    text-decoration:none;
}

.text a:hover {
    color: #b9fcff;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    text-decoration:none;
}

.contact {
    color: papayawhip;
}

@media (max-width: 1150px) {
    .title-text {
        width: 100%;
        top: 60%;

        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Source Sans Pro';
        color: floralwhite;
    }

    .title-text h1, .title-text h2 {
        color: floralwhite;
        -webkit-font-smoothing: antialiased;
        font-weight: bolder;

    }

    .title-text h1 {
        font-size: 4em;
    }

    .title-text h2 {
        font-size: 2.5em;
    }
}
@media (max-width: 1350px) {
    .title-text-bottom {
        top: 60%;

    }

    .title-text-bottom h1, .title-text-bottom h2 {
        color: ghostwhite;
        -webkit-font-smoothing: antialiased;
        font-weight: bolder;

    }

    .title-text-bottom h1 {
        font-size: 4em;
    }

    .title-text-bottom h2 {
        font-size: 2.5em;
    }
}

.little {
	font-size: 0.7em;
}
